*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    @include respond(tab-land)
        font-size: 56.25%
    @include respond(tab-port)
        font-size: 50%
    @include respond(phone)
        font-size: 30%
    @include respond(big-screen)
        font-size: 75%

body
    font-family: 'Public Sans', sans-serif
    font-weight: 100
    color: $base-dark
    line-height: 1.1
    font-size: 1.6rem

a, a:visited
    color: $base-blue

.container
    padding: 6.5rem 8rem
    background-color: $base-gray-light
    overflow: hidden