.header
    display: flex
    align-items: center
    background-color: $base-gray-light
    margin-bottom: 8rem
    & > *:not(:last-child)
        margin-right: 4rem
        @include respond(phone)
            margin-right: 2.3rem
.logo
    width: 13rem
    height: 4.3rem
    @include respond(phone-small)
        width: 9.6rem
        height: 3rem
.cross-divider
    width: 4.7rem
    @include respond(phone-small)
        width: 2.8rem
.ivent-title
    width: 26.5rem
    height: 3.3rem
    @include respond(tab-port)
        width: 23rem
        height: 2.9rem
    @include respond(phone-small)
        width: 11rem
        height: 1.3rem
