.header
    display: flex
    background-color: $base-gray-light
    margin-bottom: 8rem
    & > *:not(:last-child)
        margin-right: 4rem
.logo
    width: 16rem
    height: 5rem
.cross-divider
    width: 4.8rem
.ivent-title
    font-size: 3.9rem
    line-height: 1.1