.hero

#list
    position: relative
    list-style: none
.interactive-image
    width: 100%
    height: auto

.list_item
    position: absolute
    opacity: 1
    transition: opacity .4s ease
    z-index: 10

.img_item
    cursor: pointer
    width: 2rem
.item_1
    top: 91%
    left: 12%
    transform: rotate(50deg)

.item_2
    top: 25%
    left: 25%

.item_3
    top: 57%
    left: 28%

.item_4
    top: 39%
    left: 32%

.item_5
    top: 40%
    left: 40%

.item_6
    top: 48%
    left: 41%

.item_7
    top: 48%
    left: 51%

.item_8
    top: 48%
    left: 55%
    transform: rotate(-50deg)

.item_10
    top: 10%
    left: 65%
