.hero

#list
    position: relative
    list-style: none
.interactive-image
    width: 100%
    height: auto

.list_item
    position: absolute
    opacity: 1
    transition: opacity .4s ease
    z-index: 10

.img_item
    cursor: pointer
    width: 1.5rem
.item_1
    top: 94%
    left: 9%
    transform: rotate(50deg)

.item_2
    top: 15%
    left: 24%

.item_3
    top: 55%
    left: 26%

.item_4
    top: 41%
    left: 29%

.item_5
    top: 42%
    left: 42%

.item_6
    top: 76%
    left: 42%

.item_7
    top: 36%
    left: 53%

.item_8
    top: 66%
    left: 60%
    transform: rotate(-50deg)

.item_10
    top: 8%
    left: 66%

.item_11
    top: 44%
    left: 73%

.item_12
    top: 37%
    left: 83%

.item_13
    top: 83%
    left: 87%

.item_14
    top: 46%
    left: 95%
