.registration
    background-color: $base-gray-light
    margin-bottom: 9.6rem
.form
    position: relative
    z-index: 3
    display: flex
    flex-wrap: wrap
    gap: 3rem
    width: 95%
    padding: 6.8rem 5.6rem
    background-color: #ffffff
    border-radius: 5rem
    box-shadow: $box-shadow
    animation: visibility 2s
    @include respond(phone)
        width: 100%
        gap: 2.5rem
    &__row
        display: flex
        gap: 4rem
        width: 100%
        margin-right: 20%
        &-privacy
            margin-right: 10%
        @include respond(tab-port)
            margin-right: 5%
        @include respond(phone)
            margin-right: 0
            flex-direction: column
        &-personal
            @include respond(phone)
                flex-direction: row
        &-technologies
            @include respond(phone)
                gap: 0
    &__group
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
    &__input
        font-size: 1.6rem
        font-weight: 200
        color: $base-dark
        padding: 1rem 2rem
        border: .1rem solid $base-gray-dark
        border-radius: 5rem
        width: 100%
        @include respond(phone)
            padding: 1.5rem 2rem
        &-checkbox
            width: 2.5rem
            &:focus
                outline: none
        &-select
            border-radius: 5rem
            font-size: 1.6rem
            border: .1rem solid $base-gray-dark
            background-color: #fff
            appearance: none
            -webkit-appearance: none
            -moz-appearance: none
            padding-right: 20px
            background-image: url('../icons/expand.svg')
            background-repeat: no-repeat
            background-size: 4%
            background-position: 96% center
            @include respond(phone)
                background-size: 3%
            &::-ms-expand
                display: none
        &:focus
            outline: none
            box-shadow: $box-shadow
        &:focus-visible:invalid
            border: .1rem solid $base-invalid-red

    &__label
        display: block
        margin: 1rem 0
        font-size: 1.8rem
        font-weight: 200
        color: $base-gray-dark
        transition: .7s all

.privacy-link
    color: $base-dark

.text-elipsis
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
.score
    text-align: center
    color: $base-blue
    font-size: 4rem
    font-weight: 100
    margin-bottom: 2rem