.section-video
    display: flex
    justify-content: space-between
    margin-bottom: 9.6rem
    & > *
        width: calc( 100% / 2  - 10rem )
    &__description
        display: flex
        flex-direction: column
        justify-content: center
        padding: 1rem 0

    &__content
        width: 63.5rem
        height: 35.8rem
        border-radius: 5rem
        background-color: grey

.history-text
    margin-bottom: 7rem
.we-are
    display: flex
    align-items: center
    &-text
        font-size: 9.3rem
        color: $base-blue
        margin-right: 3rem
.ciklum-text
    font-size: 14rem
    font-weight: 500
    color: $base-blue

