.button-registration
    vertical-align: middle
    max-width: 100%
    padding: 2rem 7rem
    border-radius: 5rem
    border: .2rem solid $base-blue
    background-color: $base-blue
    color: #ffffff
    font-size: 1.8rem
    font-weight: 500
    cursor: pointer
    transition: all .3s
    @include respond(tab-port)
        padding: 1.6rem 5.5rem
    @include respond(phone)
        padding: 1.2rem 4rem
    & > img
        width: 17rem
        @include respond(phone-se)
            width: 12rem
    &:hover
        background-color: $base-blue-light
        color: $base-blue
