.button-registration
    padding: 2.4rem 9.9rem
    border-radius: 5rem
    border: 2px solid $base-blue
    background-color: $base-blue
    color: #ffffff
    font-size: 1.8rem
    cursor: pointer
    transition: all .3s
    &:hover
        background-color: $base-gray-light
        color: $base-blue